.grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  .grid2 {
            display: grid;
            grid-template-columns: 1fr;
           grid-template-rows: 200px;
    }
  .grid3 {
            display: grid;
            grid-template-columns: 1fr;
           grid-template-rows: 200px;
    }